<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <header>
        <h1>Todo List App</h1>
    </header>
    <main>
        <div class="card">
            <h2>Todo List</h2>
            <ul class="task-list">
                {% for task in tasks %}
                <li>
                    <table>
                        <tr>
                            <td>
                                <a>Title: </a> {{ task.title }}

                            </td>

                        </tr>
                        <tr>
                            <td>
                                <a>Assignee: </a> {{ task.assignee }}

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a>Description: </a> {{ task.description }}

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ url_for('edit', id=task.id) }}">edit</a>
                            </td>
                            <td>
                                <form action="{{ url_for('delete', id=task.id) }}" method="post">

                                    <input type="hidden" name="_method" value="delete">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </table>


                </li>
                {% endfor %}
            </ul>
            <div style=" display: flex;
  flex-direction: column;
  background-color: cream;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
">

                <a href="{{ url_for('add') }}" class="btn-add">Add New Task</a>
            </div>

        </div>
    </main>

</div>
</body>
</html>
